$article-card-bg-color: #fff;
$article-card-text-color: $secondary-text-color;
$article-card-like-button-hover-color: lighten($secondary-text-color, 15%);
$article-card-like-button-liked-color: $flame-orange;
$article-card-like-button-liked-hover-color: lighten($flame-orange, 25%);
$article-card-footer-bg-color: $gray-10;
