$knit-article-card-bg-color: #fff;
$knit-article-card-text-color: $knit-secondary-text-color;
$knit-article-card-like-button-hover-color: lighten($knit-secondary-text-color, 15%);
$knit-article-card-like-button-liked-color: $flame-orange;
$knit-article-card-like-button-liked-hover-color: lighten($flame-orange, 25%);
$knit-article-card-footer-bg-color: $gray-10;