
$knit-header-bg-color: #fff;
$knit-header-text-color: $primary-text-color;
$knit-header-searchbar-bg-color: $gray-20;
$knit-header-links-focus-bg-color: $gray-20;
$knit-header-links-hover-text-color: $gray-70;

