    /*
    Flaticon icon font: Flaticon
    Creation date: 08/11/2017 16:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-teamwork:before { content: "\f100"; }
.flaticon-money:before { content: "\f101"; }
.flaticon-arrow-right:before { content: "\f102"; }
.flaticon-cog-wheel:before { content: "\f103"; }
.flaticon-like:before { content: "\f104"; }
.flaticon-code-fork:before { content: "\f105"; }
.flaticon-arrow-left:before { content: "\f106"; }
.flaticon-magnifying-glass:before { content: "\f107"; }
.flaticon-github-logo:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-users:before { content: "\f10a"; }
.flaticon-plus:before { content: "\f10b"; }
.flaticon-job-search:before { content: "\f10c"; }
.flaticon-handshake:before { content: "\f10d"; }
.flaticon-logout:before { content: "\f10e"; }
.flaticon-chat:before { content: "\f10f"; }
.flaticon-dropdown-arrow:before { content: "\f110"; }
.flaticon-star:before { content: "\f111"; }
.flaticon-curly-brackets:before { content: "\f112"; }
.flaticon-user:before { content: "\f113"; }
.flaticon-programming:before { content: "\f114"; }
.flaticon-arrow-down:before { content: "\f115"; }
.flaticon-info:before { content: "\f116"; }
.flaticon-facebook-logo:before { content: "\f117"; }
    
    $font-Flaticon-teamwork: "\f100";
    $font-Flaticon-money: "\f101";
    $font-Flaticon-arrow-right: "\f102";
    $font-Flaticon-cog-wheel: "\f103";
    $font-Flaticon-like: "\f104";
    $font-Flaticon-code-fork: "\f105";
    $font-Flaticon-arrow-left: "\f106";
    $font-Flaticon-magnifying-glass: "\f107";
    $font-Flaticon-github-logo: "\f108";
    $font-Flaticon-close: "\f109";
    $font-Flaticon-users: "\f10a";
    $font-Flaticon-plus: "\f10b";
    $font-Flaticon-job-search: "\f10c";
    $font-Flaticon-handshake: "\f10d";
    $font-Flaticon-logout: "\f10e";
    $font-Flaticon-chat: "\f10f";
    $font-Flaticon-dropdown-arrow: "\f110";
    $font-Flaticon-star: "\f111";
    $font-Flaticon-curly-brackets: "\f112";
    $font-Flaticon-user: "\f113";
    $font-Flaticon-programming: "\f114";
    $font-Flaticon-arrow-down: "\f115";
    $font-Flaticon-info: "\f116";
    $font-Flaticon-facebook-logo: "\f117";