@import '_imports.scss';

// *** resets ***
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

// *** base ***
.default-badge {
  display: inline-block;
  padding: 3px 9px;
}

.page {
  display: flex;
  flex-wrap: wrap;
  padding: $default-gutters-width;
  max-width: 1300px;
  margin: 0 auto;
}

.page-enter-active, .page-leave-active {
  transition: all 0.2s ease;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.leftside-wrapper {
  flex: 1;
}

.aside-right {
  flex-basis: 320px;
  margin: 0;
  margin-left: $default-gutters-width;
}

.aside-down {
  flex-basis: 100%;
  margin-right: $default-gutters-width;
  display: flex;
}

// *** utilities ***
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
