$alert-widget-item-bg-color: #FDF7E6;
$alert-widget-item-text-color: #8a6d3b;
$alert-widget-border-color: #FCE8CE;

// $alert-widget-item-bg-color: #f9e8e8;
// $alert-widget-item-text-color: #c37372;  // <-- danger variants
// $alert-widget-border-color: #ffdada;

$alert-widget-button-close-color: #bbbbbb;
