$article-footer-bg-color: #ffffff;
$author-avatar-border-color-footer: #ffffff;
$article-footer-text-color: $secondary-text-color;
$article-footer-button-hover-color: lighten($secondary-text-color, 10%);
