$job-offers-widget-item-border-color: $gray-30;
$job-offers-widget-item-hover-bg-color: $gray-30;
$job-offers-widget-item-employer-link-color: #888;
$job-offers-widget-item-employer-link-hover-color: $steel-blue;
$job-offers-widget-item-salary-brackets-text-color: $fern-green;
$job-offers-widget-item-offer-expiration-text-color: $gray-40;
