
$knit-projects-widget-item-border-color: $gray-30;
$knit-projects-widget-item-link-color: $steel-blue;
$knit-projects-widget-item-hover-bg-color: $gray-30;
$knit-projects-widget-item-project-star-color: #fff;
