$job-offers-widget-item-hover-bg-color: $gray-10;
$job-offers-widget-item-border-color: $gray-30;
$job-offers-widget-item-salary-brackets-icon-color: $fern-green;
$job-offers-widget-item-creation-date-text-color: $gray-40;
