// *** Primary ***
$mineGray: #343434; // navbar item on hover
$flame-orange: #dd5826;
$steel-blue: #5d8fc2;
$fern-green: #64bd63;
$buttercup-yellow: #f0b518;
$fountain-blue: #5dc4bf;

// *** Secondary ***
$silver-gray: #aaaaaa;
$givry-orange: #f7d9c5;
$perwinkle-blue: #aec7e0;
$moss-green: #b1deb1;
$aqua-blue: #aee1df;

// *** Grays ***
$gray-10: #f6f6f6; // all hovers on white background, article card's footer bg
$gray-20: #eeeeee; // background, searchbar bg, navbar item text color
$gray-30: #dddddd; // all separating borders
$gray-40: #999999; // secondary text color
$gray-50: #666666; // basic text color
$gray-60: #474747; // navbar-bg, footer bg
$gray-70: #2c2c2c; // footer down

// *** Others (e.g used only once) ***
$mystic-blue: #dee4ee; // calendar bg
