// *** Primary ***
$mineGray: #343434; // navbar item on hover
$flameOrange: #dd5826;
$steelBlue: #5d8fc2;
$fernGreen: #64bd63;
$buttercupYellow: #f0b518;
$fountainBlue: #5dc4bf;

// *** Secondary ***
$silverGray: #aaaaaa;
$givryOrange: #f7d9c5;
$perwinkleBlue: #aec7e0;
$mossGreen: #b1deb1;
$aquaBlue: #aee1df;

// *** Grays ***
$gray10: #f6f6f6; // all hovers on white background, article card's footer bg
$gray20: #eeeeee; // background, searchbar bg, navbar item text color
$gray30: #dddddd; // all separating borders
$gray40: #999999; // secondary text color
$gray50: #666666; // basic text color
$gray60: #474747; // navbar-bg, footer bg
$gray70: #2c2c2c; // footer down

// *** Others (e.g used only once) *** 
$mysticBlue: #dee4ee; // calendar bg
