$background-color: $gray-20;
$primary-text-color: $gray-50;
$secondary-text-color: $gray-40;

// Default space between boxes
$default-gutters-width: 20px;
$default-blocks-border-radius: 3px;

$default-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
