$knit-background-color: $gray-20;
$knit-primary-text-color: $gray-50;
$knit-secondary-text-color: $gray-40;

// Default space between boxes
$knit-default-gutters-width: 20px;
$knit-default-blocks-border-radius: 3px;

$knit-default-font-family: 'Open Sans', Arial, Helvetica, sans-serif;