// Font color for each block
$action-link-item-text: $gray-10;

// Background color for each block
$action-link-item-job-bgcolor: $gray-60;
$action-link-item-project-bgcolor: $fern-green;
$action-link-item-info-bgcolor: $flame-orange;
$action-link-item-section-bgcolor: $steel-blue;

// Icon color for each block
$action-link-item-job-icon-color: $buttercup-yellow;
$action-link-item-project-icon-color: $moss-green;
$action-link-item-info-icon-color: $givry-orange;
$action-link-item-section-icon-color: $perwinkle-blue;
